.flex-container {
    display : flex;
    justify-content: center;
    align-items: center;
}

.grid--5-cols {
    display : grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid--4-cols {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
}