/*
--- 01 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.flex-container {
    display : flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.gap-8px {
    gap : 0.8rem;
}

.gap-12px {
    gap : 1.2rem;
}

.gap-16px {
    gap : 1.6rem;
}

.grid--5-cols {
    display : grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid--4-cols {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
}

.margin-top-8px {
    margin-top: 0.8rem;
}

.margin-top-16px {
    margin-top: 1.6rem;
}

.margin-top-32px {
    margin-top: 3.2rem;
}

.margin-top-64px {
    margin-top: 6.4rem;
}

.margin-top-128px {
    margin-top: 12.8rem;
}

.relative-positioned {
    position: relative;
}

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  